.admin-footer {
    position: relative;
    left: 0;
    width: 100vw;
    background: llinear-gradient(135deg, #34d399 0%, #059669 100%);
    color: white;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}